:root {
    --input-placeholder: "Select JSON file";
    --light-1: #fff;

    --gray-1: #f4f4f9;
    --gray-2: #b8dbd9;
    --gray-3: #586f7c;
    --gray-4: #2f4550;
    --gray-5: #000000;

    --shadow-box: rgba(0, 0, 0, 0.35) 0 5px 15px;
    --inset-shadow-box: rgba(0, 0, 0, 0.05) 0 0 0 1px inset, rgb(209, 213, 219) 0 0 0 1 inset;
}
